[Unit]
Description=byuru - Lightweight HTTP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/byuru -c /etc/byuru/byuru.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
